:root{
    --primary-color: white;
    --button-color: rgb(57, 57, 255);
    --font-color: black;
    --font-family: "syne";
}
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
@media (min-width: 200px),(max-width: 600px){
    main{
        width: 100vw;
        height: 70vh;

        #login{
            margin: 5%;

            .text{
                text-align: center;
                font-family: var(--font-family);

                h1{
                    font-size: 2.5rem;
                }
                p{
                    font-size: 1.4rem;
                    text-align: justify;
                    letter-spacing: 1px;
                    padding: 3% 0 10% 0;
                }
            }
            form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 0.7rem;

                error{
                    align-self: flex-end;
                    font-size: 1.1rem;
                }
                input{
                    height: 50px;
                    border-radius: 10px;
                    border: 1px solid var(--font-color);
                    text-indent: 10px;
                    font-size: 1.1rem;
                }
                label{
                    font-size: 1.4rem;
                    font-family: var(--font-family);
                }
                button{
                    align-self: flex-end;
                    width: 30vw;
                    height: 50px;
                    font-size: 1.5rem;
                    font-family: var(--font-family);
                    background: var(--button-color);
                    color: var(--primary-color);
                    border-radius: 10px;
                    border: none;
                    cursor: pointer;
                }
                button:active{
                    background-color: hsl(from var(--button-color)h s l /0.5);
                }
                .toggle{
                    display: flex;
                    align-items: center;
                    gap: 0.7em;
                    img{
                        width: 25px;
                        height: 25px;
                        cursor: pointer;
                    }
                    #show{
                        display: none;
                    }
                    #hide{
                        display: block;
                    }
                }
            }
            .create{
                display: flex;
                margin-top: 90px;
                gap: 0.3rem;

                h6{
                    font-size: clamp(0.7rem, 1rem, 1.3rem);
                    font-family: var(--font-family);
                }
                a{
                    text-decoration: none;
                    font-size: clamp(0.9rem, 1.1rem, 1.5rem);
                    font-family: var(--font-family);
                }
            }
        }
        footer{
            display: flex;
            font-size: clamp(0.8rem, 0.9rem, 1.5rem);
            font-family: var(--font-family);
            margin-top: 100px;
            justify-content: center;
            }
    }
}
@media (min-width: 601px),(max-width: 1024){
    main{
        width: 100vw;
        height: 70vh;

        #login{
            margin: 5%;

            .text{
                font-family: var(--font-family);

                h1{
                    text-align: center;
                    font-size: 4rem;
                }
                p{
                    font-size: 2.5rem;
                    text-align: center;
                    letter-spacing: 1px;
                    padding: 3% 0 10% 0;
                }
            }
            form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1.4rem;

                error{
                    position: absolute;
                    top: 0;
                    width: 80vw;
                    height: 5vh;
                    font-size: 2.1rem;
                    align-self: center;
                    display: none;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--primary-color);
                    box-shadow: 1px 1px 20px 5px rgb(0, 0, 0, 0.3);
                    animation: slide 1s linear forwards;
                }
                input{
                    position: relative;
                    height: 80px;
                    text-indent: 20px;
                    font-size: 2rem;
                }
                label{
                    font-size: 2.2rem;
                }
                button{
                    align-self: flex-end;
                    width: 90vw;
                    height: 80px;
                    font-size: 2.5rem;
                    opacity: 0.5;
                }
                button:active{
                    background-color: hsl(from var(--button-color)h s l /0.5);
                }
                .toggle{
                    position: absolute;
                    right: 75px;
                    margin-top: 75px;
                    gap: 0.7em;
                    img{
                        
                        width: 35px;
                        height: 35px;
                    }
                    #show{
                        display: none;
                    }
                    #hide{
                        display: block;
                    }
                }
                a{
                    align-self: flex-end;
                    font-size: 1.8rem;
                }
                span{
                    display: none;
                }
            }
            .create{
                display: flex;
                justify-content: center;
                margin-top: 70px;
                gap: 0.3rem;

                h6{
                    font-size: clamp(1.4rem, 1.7rem, 2.3rem);
                }
                a{
                    font-size: clamp(1.5rem, 2rem, 2.5rem);
                }
            }
        }
        footer{
            font-size: clamp(1.5rem, 1.8rem, 2rem);
            margin-top: 150px;
            justify-content: center;
            }
    }
}
@keyframes slide {
    0%{
        transform: translateY(-50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
#pass:focus{
    outline: none;
}